body{
  background-color: black;
}

.Home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main{
  gap: 0px;
  align-items: left;
  margin-left: 15%;
}

.home-header {
  font-size: 60px;
  color: white;
  margin-bottom: 0px;
  font-family:'BiotifBold';
}

.content {
  font-size: 20px;
  color: rgb(197, 195, 195);
  margin-top: 0px; 
  font-family:'BiotifNormal';
  text-align: left;
}

.content .special{
  color: rgb(61, 92, 249);
  font-size: 25px;
}

.resumeButton {
  font-size: 24px;
  padding: 17px 15px;
  font-family: 'BiotifBold';
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.resumeButton:hover{
  color: white;
  background-color: rgb(51, 50, 50);
}

