.Projects{
    height: 140vh;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.header{
    font-family: "BiotifBold";
    font-size: 40px;
    text-align: center;
    color: white;
    margin-bottom: 5%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 70px;
    padding: 0 150px;
}

.grid-item {
    list-style: none;
    padding: 28px;                
    border-radius: 20px;
    background: #111;    
    text-align: center;       
    transition: backgound-color .3s ease, box-shadow .3s ease, transform .3s ease;
    cursor: pointer;
}

.grid-item:hover {
    background: #585858;          
    transform: translateY(-8px); 
    box-shadow: 0 16px 40px rgba(62, 64, 186, 0.45);
}

.grid-logo{
    height: 60px;
    width: 60px;
}

.githublink{
    text-decoration: none;
}

.grid-description{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 8%;
    margin-top: 8%;
    height: 20vh;
}

.grid-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.grid-title{
    color: white;
    font-family: 'BiotifBold';
    padding: 0 20px;
    margin-top: 40px;
}

.project-skills-used{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: -3%;
}

.project-skills-used img{
    width: 35px;
    height: 35px;
}
